{% load static %}
<html>

<head>

<title>aws Cloud Administrator</title>



</body>

<h1>aws administration.</h1>

<button type="button" name="button">cloud physical architecture</button><br/><br/>
<button type="button" name="button">Aws logical architecture</button><br/><br/>
<button type="button" name="button">Aws networking</button><br/><br/>
<button type="button" name="button">Load balancers</button><br/><br/>
<button type="button" name="button">Auto scaling</button><br/><br/>
<button type="button" name="button">Aws Backup</button><br/><br/>
<button type="button" name="button">Aws monitor</button><br/><br/>
<button type="button" name="button">S3</button><br/><br/>
<button type="button" name="button">Cloudfront</button><br/><br/>
<button type="button" name="button">WAF</button><br/><br/>
<button type="button" name="button">sns</button><br/><br/>
<button type="button" name="button">efs</button><br/><br/>
<button type="button" name="button">Iam</button><br/><br/>
<button type="button" name="button">routes3</button><br/><br/>
<button type="button" name="button">Godaddy</button><br/><br/>

</body>

</html>