{% load static %}
<html>

<head>

<title>aws devops</title>



</body>

<h1>jenkins</h1>

<button type="button" name="button">DevOps overview</button><br/><br/>
<button type="button" name="button">SCM(Git and Github)</button><br/><br/>
<button type="button" name="button">High avilablity jenkins</button><br/><br/>
<button type="button" name="button">master and slave</button><br/><br/>
<button type="button" name="button">java CI/CD</button><br/><br/>
<button type="button" name="button">jenkins with nexus</button><br/><br/>
<button type="button" name="button">jenkins with sonar Qube</button><br/><br/>
<button type="button" name="button">jenkins with tomcat</button><br/><br/>
<button type="button" name="button">plugins in jenkins</button><br/><br/>
<button type="button" name="button">terraform CI/CD</button><br/><br/>
<button type="button" name="button">ansible CI/CD</button><br/><br/>
<button type="button" name="button">docker CI/CD</button><br/><br/>
<button type="button" name="button">kubernetes CI/CD</button><br/><br/>
<button type="button" name="button">Rabc access</button><br/><br/>
<button type="button" name="button">Github with jenkins</button><br/><br/>
<button type="button" name="button">Groovy pipeline(jenkins file)</button><br/><br/>
<button type="button" name="button">multi branch pipeline</button><br/><br/>

</body>

</html>