*{

    margin:0;
    padding:0;
}

div{
    border:1px solid grey;
    width:45%;
    text-align: center;
    float:left;
    height: 150px;
    margin: 20px;
    background-color: #F1F1F1;
}

h1{

    background-color: yellow;

    color:red;
}

img{
    width:100px;
    height:100px;
}

h2{
    text-align: center;
}

button{
    width:150px;
    background-color: grey;
    color:white;
}


button:hover{
    background-color: white;
    color:grey;
}

h3{
    text-align: center;
}

