{% load static %}
<html>

<head>

<title>azure Cloud Administrator</title>



</body>

<h1>Azure Devops</h1>

<button type="button" name="button">DevOps overview</button><br/><br/>
<button type="button" name="button">SCM(Git and Github)</button><br/><br/>
<button type="button" name="button">Visuval studio 2022</button><br/><br/>
<button type="button" name="button">Microsoft agent</button><br/><br/>
<button type="button" name="button">Self hosted agent</button><br/><br/>
<button type="button" name="button">Msbuild and Maven</button><br/><br/>
<button type="button" name="button">sonarcloud and sonar Qube</button><br/><br/>
<button type="button" name="button">Dotnet CI/CD</button><br/><br/>
<button type="button" name="button">Java CI/CD</button><br/><br/>
<button type="button" name="button">Sql dacpac CI/CD</button><br/><br/>
<button type="button" name="button">Terraform CI/CD</button><br/><br/>
<button type="button" name="button">Ansible CI/CD</button><br/><br/>
<button type="button" name="button">Docker CI/CD</button><br/><br/>
<button type="button" name="button">kubernetes CI/CD</button><br/><br/>
<button type="button" name="button">Azure Boards and Agile process</button><br/><br/>
<button type="button" name="button">variables</button><br/><br/>
<button type="button" name="button">IIS webserver CI/CD</button><br/><br/>
<button type="button" name="button">YAML multistage Deployment pipeline</button><br/><br/>
<button type="button" name="button">permisions</button><br/><br/>


</body>

</html>