{% load static %}
<html>

<head>

<title>azure Cloud Administrator</title>



</body>

<h1>{{name}} administration.</h1>

<button type="button" name="button">cloud physical architecture</button><br/><br/>
<button type="button" name="button">Azure logical architecture</button><br/><br/>
<button type="button" name="button">Azure networking</button><br/><br/>
<button type="button" name="button">Avzones vs avset</button><br/><br/>
<button type="button" name="button">Load balancers</button><br/><br/>
<button type="button" name="button">Auto scaling</button><br/><br/>
<button type="button" name="button">Azure Backup</button><br/><br/>
<button type="button" name="button">Azure monitor</button><br/><br/>
<button type="button" name="button">Storage account</button><br/><br/>
<button type="button" name="button">CDN</button><br/><br/>
<button type="button" name="button">WAF</button><br/><br/>
<button type="button" name="button">Asr testing</button><br/><br/>
<button type="button" name="button">App service</button><br/><br/>
<button type="button" name="button">Sql database</button><br/><br/>
<button type="button" name="button">Azure Dns</button><br/><br/>
<button type="button" name="button">Azure active directory</button><br/><br/>

</body>

</html>