{% load static %}
<html>

<head>

<title>venkateswarainstitutions</title>

<link rel="stylesheet" href="{% static "stylesheet/style.css" %}">

<head>


</body>



<h2>

    <img src="{% static "images/small_logoo.png" %}" width="100" height="100" alt="image Not Found"/>
   
     
<h2>
<h3>welcome to venkateswarainstitutions <h3>
<br>
<br>
<br>

<div class="module">

<h1>Cloud</h1><br/>
<a href="./az/cloud1"><button type="button" name="button">Azure cloud</button></a><br/><br/>
<a href="./aw/cloud2"><button type="button" name="button">Aws cloud</button></a><br/><br/>
</div>


<div class="module">

    <h1>DevOps</h1><br/>
    <a href="./az/ado"><button type="button" name="button">Azure Devops</button></a><br/><br/>
    <a href="./aw/jen"><button type="button" name="button">Aws Devops</button></a><br/><br/>
    </div>




</body>



</html>